In [1]:
import dask.dataframe as dd
import pandas as pd

In [11]:
file_path = '/Users/oliverhu/Desktop/DataGlacier Intern/Cross Selling/Train.csv'

# Read the CSV file using Dask
date_columns = ['fecha_dato', 'fecha_alta', 'ult_fec_cli_1t']
df = dd.read_csv(file_path, dtype = 'object', parse_dates=date_columns)
df['renta'] = df['renta'].astype('float64')

In [12]:
df.map_partitions(len).compute()

0     388917
1     391393
2     389514
3     390410
4     388420
5     390066
6     387509
7     390182
8     387828
9     390084
10    389502
11    389864
12    389979
13    388722
14    389549
15    387484
16    396045
17    389508
18    389289
19    393047
20    387368
21    387850
22    392925
23    392179
24    388750
25    391217
26    389786
27    388199
28    392681
29    388488
30    391911
31    388244
32    389136
33    389662
34    391601
dtype: int64

In [3]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0,6,1,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 48 entries, fecha_dato to ind_recibo_ult1
dtypes: datetime64[ns](3), object(44), float64(1)

In [5]:
df.dtypes

fecha_dato               datetime64[ns]
ncodpers                         object
ind_empleado                     object
pais_residencia                  object
sexo                             object
age                              object
fecha_alta               datetime64[ns]
ind_nuevo                        object
antiguedad                       object
indrel                           object
ult_fec_cli_1t           datetime64[ns]
indrel_1mes                      object
tiprel_1mes                      object
indresi                          object
indext                           object
conyuemp                         object
canal_entrada                    object
indfall                          object
tipodom                          object
cod_prov                         object
nomprov                          object
ind_actividad_cliente            object
renta                           float64
segmento                         object
ind_ahor_fin_ult1                object
ind_aval_fin_ult1                object
ind_cco_fin_ult1                 object
ind_cder_fin_ult1                object
ind_cno_fin_ult1                 object
ind_ctju_fin_ult1                object
ind_ctma_fin_ult1                object
ind_ctop_fin_ult1                object
ind_ctpp_fin_ult1                object
ind_deco_fin_ult1                object
ind_deme_fin_ult1                object
ind_dela_fin_ult1                object
ind_ecue_fin_ult1                object
ind_fond_fin_ult1                object
ind_hip_fin_ult1                 object
ind_plan_fin_ult1                object
ind_pres_fin_ult1                object
ind_reca_fin_ult1                object
ind_tjcr_fin_ult1                object
ind_valo_fin_ult1                object
ind_viv_fin_ult1                 object
ind_nomina_ult1                  object
ind_nom_pens_ult1                object
ind_recibo_ult1                  object
dtype: object

In [31]:
df.describe().compute()

,ncodpers,ind_nuevo,indrel,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,1.364731e+07,1.361958e+07,1.361958e+07,13619574.0,1.355372e+07,1.361958e+07,1.085293e+07,1.364731e+07,1.364731e+07,1.364731e+07,...,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.363125e+07,1.363125e+07,1.364731e+07
mean,8.349042e+05,5.956184e-02,1.178399e+00,1.0,2.657147e+01,4.578105e-01,1.342543e+05,1.022912e-04,2.315475e-05,6.554837e-01,...,5.886582e-03,9.170965e-03,2.627404e-03,5.253636e-02,4.438868e-02,2.560761e-02,3.847718e-03,5.472434e-02,5.942854e-02,1.279162e-01
std,4.315650e+05,2.366733e-01,4.177469e+00,0.0,1.278402e+01,4.982169e-01,2.306202e+05,1.011340e-02,4.811883e-03,4.752103e-01,...,7.649791e-02,9.532502e-02,5.119083e-02,2.231060e-01,2.059571e-01,1.579616e-01,6.191053e-02,2.274414e-01,2.364250e-01,3.339965e-01
min,1.588900e+04,0.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,1.202730e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.189830e+05,0.000000e+00,1.000000e+00,1.0,2.700000e+01,0.000000e+00,7.887303e+04,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.067814e+06,0.000000e+00,1.000000e+00,1.0,2.800000e+01,1.000000e+00,1.173259e+05,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.334755e+06,1.000000e+00,1.000000e+00,1.0,3.600000e+01,1.000000e+00,1.774955e+05,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.553689e+06,1.000000e+00,9.900000e+01,1.0,5.200000e+01,1.000000e+00,2.889440e+07,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [6]:
df.isnull().sum().compute()

fecha_dato                      0
ncodpers                        0
ind_empleado                27734
pais_residencia             27734
sexo                        27804
age                             0
fecha_alta                  27734
ind_nuevo                   27734
antiguedad                      0
indrel                      27734
ult_fec_cli_1t           13622516
indrel_1mes                149781
tiprel_1mes                149781
indresi                     27734
indext                      27734
conyuemp                 13645501
canal_entrada              186126
indfall                     27734
tipodom                     27735
cod_prov                    93591
nomprov                     93591
ind_actividad_cliente       27734
renta                     2794375
segmento                   189368
ind_ahor_fin_ult1               0
ind_aval_fin_ult1               0
ind_cco_fin_ult1                0
ind_cder_fin_ult1               0
ind_cno_fin_ult1                0
ind_ctju_fin_ult1               0
ind_ctma_fin_ult1               0
ind_ctop_fin_ult1               0
ind_ctpp_fin_ult1               0
ind_deco_fin_ult1               0
ind_deme_fin_ult1               0
ind_dela_fin_ult1               0
ind_ecue_fin_ult1               0
ind_fond_fin_ult1               0
ind_hip_fin_ult1                0
ind_plan_fin_ult1               0
ind_pres_fin_ult1               0
ind_reca_fin_ult1               0
ind_tjcr_fin_ult1               0
ind_valo_fin_ult1               0
ind_viv_fin_ult1                0
ind_nomina_ult1             16063
ind_nom_pens_ult1           16063
ind_recibo_ult1                 0
dtype: int64

In [13]:
# Method 1: Imputing by mode
def replace_na_mode(column):
    mode_val = column.mode().compute().iloc[0]
    return column.fillna(mode_val)

mode_columns = ['fecha_alta', 'ind_empleado', 'indext', 'indfall', 'indresi', 'pais_residencia', 'sexo']
meta = {'fecha_alta':'object',
        'ind_empleado': 'object',
        'indext':'object',
        'indfall':'object',
        'indresi':'object',
        'pais_residencia':'object',
        'sexo':'object'}
df[mode_columns] = df[mode_columns].map_partitions(replace_na_mode, meta=meta)

In [15]:
# Method 2: Imputing by 'Null'
def replace_na_null(column):
    return column.fillna('Null')

mode_columns = ['conyuemp', 'canal_entrada', 'cod_prov', 'nomprov', 'renta', 'segmento']
meta = {'conyuemp':'object',
        'canal_entrada': 'object',
        'cod_prov':'object',
        'nomprov':'object',
        'renta':'object',
        'segmento':'object'}

df[mode_columns] = df[mode_columns].map_partitions(replace_na_mode, meta=meta)

In [39]:
# Method 3: Imputing by creating a new variable
def create_rencent_primary(ult_fec_cli_1t):
    return ult_fec_cli_1t.map(lambda x: '1' if pd.notna(x) else '0')

df['recent_primary'] = df['ult_fec_cli_1t'].map_partitions(create_rencent_primary, meta = ('recent_primary', object))